#
# Travis CI
#
language: php

php:
- 7.2
- 7.3

cache:
  directories:
  - ~/.composer

install:
- if php -v | grep 'Xdebug v3.0.0'; then phpenv config-rm xdebug.ini; fi
- COMPOSER_MEMORY_LIMIT=-1 composer install --prefer-dist

script:
- vendor/bin/parallel-lint --exclude vendor/ -e php,module,inc,install,profile,theme .
- vendor/bin/phpunit --configuration=phpunit.xml --coverage-text
- vendor/bin/phpcs --ignore=vendor/ --standard=phpcs.xml --extensions=php,module,inc,install,profile,theme,css,info,txt,md,yml --report=full .
- vendor/bin/phpmd --exclude vendor/ --suffixes php,module,inc,install,profile,theme . text phpmd.xml
- composer validate

branches:
  only:
    - 8.x-1.x
